body {
    margin: 0;
    padding: 0;
    background-image: url(louis.jpg);
    background-size: cover;
  }
  .navbar {
    position: relative;
    width: 100%;
    height: 20vh;
    background: black;
  }
  .logo {
    width: 100px;
    height: 100px;
  }
  nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all ease-in-out 250ms;
  }
  nav ul li a:hover {
    color: #b9b9b9;
  }
  .box {
    width: 450px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1 {
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p {
    text-align: center;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  .box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover {
    color: #b9b9b9;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: grey;
    background-size: cover;
  }
  .navbar {
    position: relative;
    width: 100%;
    height: 15vh;
    background: black;
    position: sticky;
    top: 0;
    left: 0;
  }
.navbar h2{
  font-size: 20px;
  color:aliceblue;
  font-family: Arial, Helvetica, sans-serif;

}
  nav {
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: all ease-in-out 250ms;
  }
  nav ul li a:hover {
    color: #b9b9b9;
  }
  .box {
    width: 450px;
    padding: 40px;
    text-align: center;
    margin: auto;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .box h1 {
    font-size: 35px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5 {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .box p {
    text-align: center;
  }
  .title {
    color: white;
    font-size: 15px;
    text-align: center;
    margin: 100px;

  }
  ul {
    margin: 0;
    padding: 0;
  }
  .box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
  }
  .box li a {
    color: white;
    text-decoration: none;
    font-size: 40px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover {
    color: #b9b9b9;
  }
  .name {
   color: white;
  }
  img { 
    max-width: 100%;
    max-height: 200px;
  }
  .aportofolio {
    color: #5F9DF7;
    text-decoration: none;
    font-size: 15px;
    transition: all ease-in-out 250ms;
  }
  .aportofolio:hover {
    color: #2146C7;
  }
  .name {
    font-family: sans-serif;
    font-size: 20px;
  }
  .gallery {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

  }
  
  .images {
    padding-left: 15px;
    padding-right: 15px;
    
  }
  
  figure {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
  }
  figcaption { text-align: center; }
  
  figcaption span {
    display: block;
    color: #333333;
    font-size: 15px;
  }
